* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  min-height: 100vh;
  background-color: #2a2a72;
  color: #fff;
  text-align: center;
}
