* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: block;
}
.carousel {
  width: 500px;
  height: 540px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons-container > * {
  width: 49.5%;
}
.btn {
  border: none;
  outline: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: purple;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
