* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
body,
html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  flex-direction: column;
  min-width: 15rem;
  position: relative;
}
.key small {
  position: absolute;
  top: -2.5rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 1.4rem;
}
