* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
body,
html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: steelblue;
  color: #fff;
}
